@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.MyGradient {
  mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)  20%,
      rgb(0, 0, 0) 80%,
      rgba(255, 255, 255, 0)
  );
}

html{
  --line-color: #e2e8f0
}

.borderBlack {
  @apply border border-black/10
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2)
}